body {
    margin: 0%;

}

* {
    margin-left: 5px;

}

header {
    margin: 0%;
    background-color: rgb(156, 214, 244);
}

header img {
    width: 15%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    display: block;
}

h1 {
    margin-bottom: 0%;
}

.foto {
    height: 250px;

}


h4 span {
    color: blue;
}

.text {
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgba(132, 136, 161, 0.705);
}

.text1 {
    margin-top: 0%;
    margin-bottom: 2%;
    color: rgba(132, 136, 161, 0.705);

}

.text2 {
    margin-top: 0%;
    margin-bottom: 2%;
}

.color {
    background-color: yellow;
}

article {
    padding-right: 100px;
}

.allinea {
    padding-left: 1%;
}

figure {
    margin-right: 0%;
}

th {
    background-color: rgb(127, 166, 251);
    width: 300px;
    text-align: left;
    color: white;
}

p {
    margin: 0%;
}

.colonna {
    width: 800px;
}

.tdcolor {
    background-color: rgb(223, 229, 242);
}

footer {
    background-color: rgb(49, 58, 107);
    color: white;
    text-align: center;
    padding: 1%;
}